.card-body-container {
  width: 75%;
  margin: 24px 0 0 auto;
  border-radius: 16px;
  background-color: var(--blueDark);
  padding: 24px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info h2 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 5px;
  opacity: 0.7;
}

.user-info span {
  font-size: 1.6em;
  font-weight: 600;
}

/* RESPONSIVE ======== */
@media (max-width: 1000px) {
  .card-body-container {
    width: 100%;
    margin: 24px 0px;
  }
}

@media (max-width: 750px) {
  .user-info h2 {
    font-size: 0.8em;
  }

  .user-info span {
    font-size: 1.3em;
  }
}