.card-header-container {
  display: flex;
}

.card-header-container img {
  width: 180px;
  border-radius: 100px;
  margin-right: 32px;
  cursor: pointer;

  transition: 0.15s ease-in;
}

.card-header-container img:hover {
  box-shadow: 0px 0px 5px 2px var(--blue);
}

.texts {
  width: 100%;
  margin: 24px 0px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-container {
  display: flex;
  justify-content: space-between;
}

.user-container .name {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--white);
  transition: 0.1s ease-in;
}

.user-container .name:hover {
  opacity: 0.7;
}

.user-container .userName {
  display: block;
  color: var(--blue);
  margin-top: 8px;
  font-size: 0.9em;
  font-weight: 600;
  transition: 0.1s ease-in;
}

.user-container .userName:hover {
  opacity: 0.7;
}

.texts p {
  line-height: 1.5;
  opacity: 0.7;
}

.card-header-container .joined-info {
  opacity: 0.7;
}