.card-container {
  width: 100%;
  background-color: var(--blueLight);
  border-radius: 24px;
  padding: 32px;
  margin-top: 40px;
  animation: slideY 1s;

  display: flex;
  flex-direction: column;
}

@keyframes slideY {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}