.container {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  padding: 5% 0%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-container {
  animation: slideHeader 1.3s;
}

@keyframes slideHeader {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0px);
  }
}

.container .main-content {
  flex: 1;
}

.msg-status {
  margin-top: 72px;
  text-align: center;
  opacity: 0.7;
  font-weight: 500;
}